@media only screen and (max-width: 300px) {

}

.container {
  display: -webkit-flex;
  display: flex;
}

.grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.sidebar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#lightblue, #darkblue, #grey {
  width: 75px;
  height: 75px;
  border: 1px;
  margin: 10px;
}

#lightblue {
  background-color: #02b3e4;
}

#darkblue {
  background-color: #2d3c49;
}

#grey {
  background-color: #7d97ad;
}
