body {
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 300px) {
  .container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.container {
  display: -webkit-flex;
  display: flex;
  margin-top: 2%;
}

.row {
  width: 100%;
  display: flex;
}

.sidebar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 12% 5%;
}

#lightblue, #darkblue, #grey {
  width: 75px;
  height: 75px;
  border: 1px;
  margin: 10px;
}

#lightblue {
  background-color: #02b3e4;
}

#darkblue {
  background-color: #2d3c49;
}

#grey {
  background-color: #7d97ad;
}

#brandlogo {
  padding-top: 5%;
}

hr {
  border: 2px solid #7d97ad;
}
