{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Edit Post</h2>
        </div>
    </div>

    <form method="post">
        <p class="bg-danger">
            {{error}}
        </p>


        <div class="form-group">
            <label for="subject" class="control-label">Subject: </label>
            <input class="form-control" type="text" name="subject" value="{{ post.subject }}">
        </label>
        <div class="form-group">
            <label for="content" class="control-label">Content: </label>
            <textarea class="form-control" name="content" rows="15">{{ post.content }}</textarea>
        </label>

        <br>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" name="save" id="save" value="save" class="btn btn-primary">Save</button>
                <button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
{% endblock %}
