{% extends "base.html" %}

{% block content %}
    {{ post.render() | safe }}


    {% if user and post.user.name == user.name %}
        <div class="btn-group col-sm-12">
            <a href="/blog/{{ post.key().id() }}/editpost" class="btn btn-default"> Edit </a>
            <a href="/blog/{{ post.key().id() }}/deletepost" class="btn btn-danger"> Delete </a>
        </div>
    {% else %}
        <div class="btn-group col-sm-12">
            <a href="/blog/{{ post.key().id() }}/likepost"
                class="btn btn-default"> Like {{ likes.count_by_post(post.key().id()) }}</a>
            <span class="text-danger">{{ like_error }}</span>
        </div>
    {% endif %}
{% endblock %}
